blog_post.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="blog">
  <xs:complexType>
  <xs:sequence>
          <xs:element name="date" type="xs:date"/>
          <xs:element name="author" type="xs:string"/>
          <xs:element name="summary" type="xs:string">
            <xs:complexType>
            <xs:sequence>
                <xs:element name="image_path" type="xs:string"/>
                <xs:element name="text" type="xs:string"/>
            </xs:complexType>
            </xs:sequence>
            </xs:element>
          <xs:element name="body" type="xs:string"/>
    </xs:sequence> 
    </xs:complexType>
</xs:element>
</xs:schema>
